header
    background $bege
    width 100%
    .center
        clearfix()
    .categorias-bg
        width 100%
        height 42px
        background $bege-medio
        ul
            display none
            padding 3.5% 0
            margin 0
            list-style-type none
            +at('mobile')
                padding 5% 0
            li
                display inline-block
                line-height 1.6
                a
                    color #D4CCBF
                    text-decoration none
                    roboto 13
                    &.active
                        color #413C38
                        &:after
                            color #D4CCBF
                    &:after
                        content ' \00b7'
                        margin 0 3px
                        cursor default
                &:last-child
                    a:after
                        display none
        +below('tablet')
            height auto
            ul
                display block
    h1
        margin 0
        display block
        float left
        a
            display block
            width 245px
            height 90px
            text-indent -9999px
            background $img('samaramorelli.png') no-repeat center 52.5%
        +below('desktop')
            width 30%
            max-width 245px
            a
                width 100%
                background-size 100% auto
        +below('tablet')
            width 50%
            a
                height 75px
        +at('mobile')
            width 65%
    #nav-desktop
        height 90px
        line-height 90px
        float right
        padding 0
        margin 0
        list-style-type none
        +below('tablet')
            display none
        > li
            position relative
            display block
            float left
            overflow visible
            > a
                display block
                height 100%
                padding 0 15px
                text-decoration none
                text-transform uppercase
                transition color .3s
                roboto 14
                color #4b4642
                &:hover
                    color #e5e3dd
                &.active
                    background #2f2b2a
                    color $bege-claro
                +below('desktop')
                    padding 0 12px
            ul
                height 42px
                position absolute
                line-height 42px
                right 0
                top 90px
                white-space nowrap
                background #2f2b2a
                padding 0 15px
                li
                    display inline-block
                    a
                        color $bege-claro
                        text-decoration none
                        roboto 13
                        transition color .3s
                        &.active
                            color white
                            &:after
                                color $bege-claro
                        &:hover
                            color white
                            &:after
                                color $bege-claro
                        &:after
                            content ' \00b7'
                            margin 0 3px
                            cursor default
                    &:last-child
                        a:after
                            display none
            &.social
                a
                    width 18px
                    float left
                    text-indent -9999px
                    padding 0
                    margin-left 5px
                    background-size contain !important
                    &:first-child
                        margin-left 15px
                    &.facebook
                        background $img('facebook.png') no-repeat center
                    &.instagram
                        background $img('instagram.png') no-repeat center

    #nav-mobile
        +above('desktop')
            display none !important
        display none
        width 100%
        background #2f2b2a
        padding 3.5%
        text-align center
        roboto 14px
        text-transform uppercase
        +at('mobile')
            padding 7% 3.5%
        > a
            display block
            text-decoration none
            color $bege-claro
            margin-bottom 2%
            +at('mobile')
                margin-bottom 3%
            &.active
                color $bege-bg
        .social
            clearfix()
            width 41px
            margin 3.5% auto 0
            +at('mobile')
                margin-top 7%
            a
                width 18px
                float left
                text-indent -9999px
                padding 0
                margin-left 5px
                opacity .8
                background-size contain !important
                &:first-child
                    margin-left 0
                &.facebook
                    background $img('facebook-home.png') no-repeat center
                &.instagram
                    background $img('instagram-home.png') no-repeat center

    #mobile-toggle
        +below('tablet')
            display block
        display none
        background-color #2F2B2A
        border 0
        position absolute
        right 0
        top 0
        height 75px
        width 75px
        outline 0
        padding 0
        .lines
            display block
            width 40%
            height 3px
            margin 36px auto
            background $bege-claro
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background $bege-claro
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.main
    background $bege-bg
    &.not-found
        text-align center
        h1
            display inline-block
            margin 125px 0
            roboto 13 bold
            padding 20px
            text-transform uppercase
            border 2px solid $bege-texto
            color $bege-texto

footer
    width 100%
    background $bege
    cursor default
    p
        text-align center
        roboto 11
        padding 14px 0
        margin 0
        color #666058
        a
            text-decoration none
            color #666058
            transition color .3s
            &:hover
                color $bege-bg
            &.trupe
                position relative
                padding-right 25px
                &:after
                    content ""
                    position absolute
                    right 0
                    top 0
                    width 19px
                    height 15px
                    background $img('trupe.png') no-repeat center
        +below('tablet')
            roboto 10
            span
                display block
                margin-bottom 3px

.body-home
    min-height 355px
    position relative
    footer
        position absolute
        bottom 0
    header
        background transparent
        position absolute
        top 50px
        overflow hidden
        h1
            position relative
            background rgba(172,164,147,.9)
            padding-right 30px
            z-index 9999
            &:before
                content ""
                position absolute
                width 2000px
                height 100%
                top 0
                left -2000px
                background rgba(172,164,147,.9)
                z-index 9998
            &:after
                content ""
                position absolute
                width 2000px
                height 100%
                top 0
                right -2000px
                background rgba(35,31,32,.8)
                z-index 9998
        +below('tablet')
            background rgba(172,164,147,.9)
            position relative
            top 0
            h1
                background transparent
                padding 0
                &:before
                &:after
                    display none
        #nav-desktop
            position relative
            z-index 9999
            a
                color $bege-claro
                &:after
                    content ""
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('menu-hover.png') no-repeat center
                    opacity 0
                    transition opacity .3s
                &:hover
                    color white
                    &:after
                        opacity 1
            .social
                a
                    &.facebook
                        background $img('facebook-home.png') no-repeat center
                    &.instagram
                        background $img('instagram-home.png') no-repeat center
                    &:after
                        display none
        #mobile-toggle
        #nav-mobile
            background rgba(35,31,32,.8)
