#clipping
    padding 50px 0 100px
    +below('desktop')
        padding 3% 0 6%
    +at('mobile')
        padding 5% 0 10%
    .clipping-thumbs
        clearfix()
        a
            position relative
            display block
            width 22.25%
            float left
            margin-right 3.666%
            margin-bottom 3.666%
            overflow hidden
            &:nth-child(4n)
                margin-right 0
            +at('tablet')
                width 48.75%
                margin-right 2.5%
                &:nth-child(4n)
                    margin-right 3.666%
                &:nth-child(2n)
                    margin-right 0
            +at('mobile')
                width 100%
                float none
                margin-bottom 5%
            img
                display block
                width 100%
                height auto
            .titulo
                position absolute
                width 100%
                bottom 0
                background rgba(172,167,147,.9)
                padding 20px 30px
                color #4b4642
                text-transform uppercase
                roboto 13
                transition bottom .3s, background .3s
                text-align center
            .vermais
                display block
                position absolute
                bottom -40px
                width 100%
                height 40px
                text-align center
                roboto 13
                color $bege-claro
                line-height 40px
                background #2f2b2a
                transition bottom .3s
                span
                    position relative
                    display inline-block
                    background $img('clipping-vermais.png') no-repeat center right
                    padding-right 20px
            &:hover
                .titulo
                    bottom 40px
                    background $bege
                .vermais
                    bottom 0
                +below('tablet')
                    .titulo
                        bottom 0
                    .vermais
                        bottom -40px
    .clipping-show
        clearfix()
        +above('ws-desktop')
            min-height 200px
        img
            display block
            width 48.3%
            float left
            margin-right 3.4%
            margin-bottom 3.4%
            &:nth-child(2n)
                margin-right 0
            +at('mobile')
                width 100%
                float none
                margin-right 0
    .clipping-navegacao
        display none
        position fixed
        width 80px
        right 35px
        bottom 35px
        +below('ws-desktop')
            position relative
            width 100%
            right 0
            bottom 0
            clearfix()
            a
                &.prev
                &.next
                    width 50%
                    float left
                &.prev
                    border-right 1px solid $bege-bg
                &.all
                    width 100%
                    float left
        a
            display block
            background $bege
            opacity .6
            color white
            text-transform uppercase
            roboto 12
            text-decoration none
            margin-top 1px
            padding 13px 0
            transition opacity .3s
            span
                display block
                text-align center
                opacity 1
                padding 11px 0 0
                background-position center top
                background-repeat no-repeat
            &:hover
                opacity 1
                span
                    opacity 1
            &.disabled
                opacity .3
                cursor default
            &.prev span
                background-image $img('clipping-prev.png')
            &.next span
                background-image $img('clipping-next.png')
            &.all span
                background-image $img('clipping-all.png')
