#contato
    clearfix()
    padding 0 0 100px
    +below('desktop')
        padding 0 0 6%
    +at('mobile')
        padding 0 0 10%
    .googlemaps
        width 100%
        border-bottom 1px solid rgba(172,164,147,.3)
        margin-bottom 50px
        +below('desktop')
            margin-bottom 5.1%
        iframe
            display block
            width 100%
            height 300px
            margin 0
            padding 0
            +at('tablet')
                height 250px
            +at('mobile')
                height 180px
    h3
        margin 0 0 25px
        roboto 18 light
        text-transform uppercase
        padding-bottom 8px
        border-bottom 1px solid rgba(172,164,147,.2)
        color $bege
        +below('tablet')
            display none
    .info
        width 32.65%
        float left
        .telefone
            margin 0
            roboto 28 light
            span
                font-size 22px
        .endereco
            margin 20px 0
            p
                margin 0
                line-height 1.5
        a
            margin 0
            color $bege-medio
            text-decoration none
            transition color .3s
            &:hover
                color #4b4642
    .fale-conosco
        width 62.25%
        float right
        form
            ::-webkit-input-placeholder
                color #b7b0a2
            :-moz-placeholder
               color #b7b0a2
               opacity 1
            ::-moz-placeholder
               color #b7b0a2
               opacity 1
            :-ms-input-placeholder
               color #b7b0a2
            input,
            textarea
                background transparent
                border 1px solid $bege
                outline 0
                color #4b4642
            .left
                float left
                width 40.9%
            input[type='text'],
            input[type='email']
                width 100%
                float left
                clear left
                height 40px
                padding 0 12px
                margin-bottom 10px
            textarea
                width 57.3%
                float right
                height 140px
                padding 10px 12px
                resize vertical
                margin-bottom 10px
            input[type='submit']
                clear right
                float right
                border 0
                background #403c3b
                color $bege-claro
                text-transform uppercase
                padding 10px 14px
                transition color .3s
                &:hover
                    color $bege-bg
            #erro
                display none
                clear both
                float left
                margin 12px 0 0
                roboto 12
                +at('mobile')
                    width 100%
                    text-align center
                    margin-bottom 20px
        #sucesso
            display none
            background #dad6cf
            clear both
            padding 50px
            text-align center
            color $bege-medio
            text-transform uppercase
            roboto 18
            span
                display block
                roboto 14
    +below('tablet')
        .info
        .fale-conosco
            width 100%
            float none
            form
                .left
                textarea
                    width 49.1%
        .info
            text-align center
            margin-bottom 8%
    +at('mobile')
        .fale-conosco form
            .left
            textarea
                width 100%
                float none
            input
            textarea
                margin-bottom 3%
