#banners-home
    display block
    position fixed
    width 100%
    height 100%
    top 0
    bottom 0
    left 0
    right 0
    z-index -10
    .slide
        position absolute
        width 100%
        height 100%
        top 0
        bottom 0
        left 0
        right 0
        background-size cover
        background-position center
        background-repeat no-repeat
