#perfil
    clearfix()
    .imagem
        width 40.8%
        float left
        img
            display block
            width 100%
            height auto
    .texto
        width 54.08%
        float right
        margin 5.1% 0
        p
            margin 1.5em 0
            line-height 1.5
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    +below('desktop')
        .center
            margin 0
            margin-right 5%
        .texto
            margin 5.1% 0 10%
    +at('mobile')
        .center
            width 100%
            margin 0
        .imagem
        .texto
            width 100%
            float none
        .imagem
            margin-bottom 3%
        .texto
            padding 0 5%
            margin 5.1% 0 15%
