#projetos
    clearfix()
    padding 50px 0 100px
    +below('desktop')
        padding 3% 0 6%
    +at('mobile')
        padding 5% 0 10%
    .projetos-thumbs
        clearfix()
        a
            position relative
            display block
            width 48.45%
            float left
            margin-right 3.1%
            margin-bottom 3.1%
            overflow hidden
            &:nth-child(2n)
                margin-right 0
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(172,164,147,.9)
                text-align center
                white-space nowrap
                opacity 0
                transition opacity .3s
                &:before
                    content ""
                    display inline-block
                    height 100%
                    vertical-align middle
                .overlay-text
                    display inline-block
                    vertical-align middle
                    width 100%
                    padding 0 20%
                    roboto 17
                    color #231f20
                    white-space normal
                    text-transform uppercase
                    line-height 1.2
                    span
                        display block
                        roboto 14
                        opacity .5
                        margin-top 8px
            &:hover .overlay
                opacity 1
            +below('tablet')
                width 100%
                margin-right 0
                .overlay
                    opacity 1
                    position relative
                    &:before
                        display none
                    .overlay-text
                        padding 5%
                        roboto 16
                        span
                            display none
            +at('mobile')
                margin-bottom 5%
                .overlay .overlay-text
                    roboto 14
    .projetos-show
        clearfix()
        .imagens
            width 70.4%
            float right
            img
                display block
                width 100%
                height auto
                margin-bottom 4.3%
            +below('tablet')
                width 100%
                float none
        .projetos-info
            width 24.5%
            float left
            &.stick
                position fixed
                width 240px
                top 35px
            h3
                margin 0 0 20px
                border-top 1px solid rgba(172,164,147,.3)
                border-bottom 1px solid rgba(172,164,147,.3)
                color $texto
                roboto 16
                text-transform uppercase
                padding 15px 5px
                text-align center
            p
                margin 0 0 15px
                text-align center
                text-transform uppercase
                color $texto
                roboto 15
                &:last-of-type
                    margin-bottom 20px
                span
                    display block
                    color $bege
                    margin-bottom 2px
                    roboto 12
            +below('tablet')
                width 100%
                float none
                margin-bottom 4.3%
    .projetos-navegacao
        clearfix()
        &.mobile
            display none
        a
            display block
            background $bege
            opacity .6
            color white
            text-transform uppercase
            roboto 12
            text-decoration none
            margin-top 1px
            padding 13px 0
            transition opacity .3s
            span
                display block
                text-align center
                opacity 1
                padding 11px 0 0
                background-position center top
                background-repeat no-repeat
            &:hover
                opacity 1
                span
                    opacity 1
            &.disabled
                opacity .3
                cursor default
            &.prev
            &.next
                width 50%
                float left
            &.prev
                border-right 1px solid $bege-bg
            &.all
                width 100%
                float left
            &.prev span
                background-image $img('clipping-prev.png')
            &.next span
                background-image $img('clipping-next.png')
            &.all span
                background-image $img('clipping-all.png')
        +below('tablet')
            display none
            &.mobile
                display block
