*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

::selection
    background $bege
    color #fff

::-moz-selection
    background $bege
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below('desktop')
        width 95%
    +at('mobile')
        width 90%

body
    &:after
        content "" // preload images
        display none
    roboto 14
    color $texto
