// Responsive
desktop-base-width   = 980px
rupture.scale        = 0 400px 768px 1040px 1280px
rupture.scale-names  = 'mobile' 'tablet' 'desktop' 'ws-desktop'
rupture.anti-overlap = 1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$bege = #aca493
$bege-medio = #9b9489
$bege-claro = #bab1a2
$bege-texto = #9e9380
$bege-bg = #e6e3de
$texto = #787878


// Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700')
roboto($size, $style = normal)
    font-size $size + 0px
    font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == light
        font-weight 300
    if $style == bold
        font-weight 700
